.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Media query for larger screens (desktop) */
@media (min-width: 768px) {
  .main {
    flex-direction: row; /* Stack children horizontally on larger screens */
  }
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .main {
    flex-direction: column; /* Stack children vertically on smaller screens */
    padding: 1rem; /* Add padding for smaller screens */
  }
}
